.m101-widget-sw.wideopenmountainbike {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .m101-widget-sw.wideopenmountainbike a {
    text-decoration: none;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .m101-widget-sw.wideopenmountainbike a:hover {
      color: #1a1a1a; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-shopping-widget-title {
    font-size: 1.4375rem;
    padding-bottom: 20px; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-row {
    position: relative;
    width: calc(100% - 10px);
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-item {
    width: 100%; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    text-align: center; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-image img {
      margin: 5px 0;
      vertical-align: middle;
      max-width: 100%;
      max-height: 150px;
      pointer-events: none; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-product-name {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-merchant-name {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-merchant-name a {
      color: #339933; }
      .m101-widget-sw.wideopenmountainbike .m101-widget-sw-merchant-name a:hover {
        color: #267326; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-merchant-image {
    display: none; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-original-price {
    display: none; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-final-price {
    text-align: center;
    padding-bottom: 10px; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-final-price a, .m101-widget-sw.wideopenmountainbike .m101-widget-sw-final-price a:hover {
      color: #333333;
      font-weight: 600; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-discount {
    display: inline; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-discount a {
      color: #CC0000 !important;
      text-decoration: none; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-discount:hover {
      color: #CC0000 !important; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-button {
    text-align: center;
    white-space: nowrap; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-button a {
      display: inline-flex;
      padding: 3px 22px;
      font-size: 15px;
      background-color: #339933;
      color: #fff; }
      .m101-widget-sw.wideopenmountainbike .m101-widget-sw-button a:after {
        content: "Buy Now"; }
      .m101-widget-sw.wideopenmountainbike .m101-widget-sw-button a:hover {
        background-color: #267326; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-slider-wrapper {
    display: flex;
    width: 100%;
    box-sizing: content-box;
    transform: translate(0px, 0px);
    transition: transform .3s ease-in-out; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-slider-wrapper .slide {
      display: flex;
      flex-wrap: wrap; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-slide-next {
    right: 0;
    margin-right: 10px;
    position: absolute;
    top: calc(50% - 20px);
    width: 30px;
    height: 30px;
    background-color: #ea6400;
    border-radius: 50%;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-slide-next:hover {
      background-color: #b74e00; }
  .m101-widget-sw.wideopenmountainbike .m101-widget-sw-slide-prev {
    left: 0;
    margin-left: 10px;
    position: absolute;
    top: calc(50% - 20px);
    width: 30px;
    height: 30px;
    background-color: #ea6400;
    border-radius: 50%;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .m101-widget-sw.wideopenmountainbike .m101-widget-sw-slide-prev:hover {
      background-color: #b74e00; }
